.form {
    width: 50%;
    margin: auto;
}

#form_category {
    display: block;
}

.wrapper-contact {
    display: flex;
    justify-content: space-between;
}

wrapper-contact-text {
    display: flex;
    flex-direction: column;
}

.wrapper-contact-icon {
    display: flex;
}

header, main, footer {
    padding-left: 320px;
    padding-right: 20px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

