{% extends 'base.html.twig' %}

{% block title %}Vos contact!{% endblock %}

{% block body %}
    <h4>Contact</h4>
    {% for contact in contacts %}
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="medium material-icons circle">account_circle</i>
                <div class="wrapper-contact">
                    <div class="wrapper-contact-text">
                        <span class="title">{{ contact.firstname |capitalize }} {{ contact.lastname |capitalize }}</span>
                        <p>{{ contact.mail }}<br></p>
                    </div>
                    <div class="wrapper-contact-icon">
                        <a href="{{ path('contact_update', {'id': contact.id }) }}"><i class="small material-icons">create</i></a>
                        <a href="{{ path('contact_delete', {'id': contact.id }) }}"><i class="small material-icons">delete</i></a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
