{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact!{% endblock %}

{% block body %}
    <div class="form">
    <h2>{{ name }} Contact</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <style>
        form div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 400px;
        }
    </style>
{% endblock %}