<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">

        <!-- Compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>


    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><a><h2>GImail</h2></a></li><br>
        <li><a href="{{ path('email_home') }}">Accueil</a></li>
        <li><a href="{{ path('contact') }}">Vos Contacts</a></li>
        <li><a href="{{ path('email_new') }}">Nouvelle Email</a></li>
        <li><a href="{{ path('contact_new') }}">Nouveau Contact</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <main> {% block body %}{% endblock %}</main>
    {% block javascripts %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
    </body>
</html>
