{% extends 'base.html.twig' %}

{% block title %}Mails: {{ mount }}{% endblock %}

{% block body %}
    <h4>Recherche</h4>
    {{ form_start(searchBar) }}
    {{ form_widget(searchBar) }}
    {{ form_end(searchBar) }}
    <h4>Accueil</h4>
    <div class="input-field col s12">
        <h6>Catégorie :</h6>
        <select class="category-form">
            <option value="" disabled selected>Choissisez une catégorie </option>
            {% for category in categorys %}
                <option value="{{ category.id }}"><a href="{{ path('email_index',{'id':category.name }) }}">{{ category.name }}</a></option>
            {% endfor %}
        </select>
    </div>
    <ul class="collection with-header">
        <li class="collection-header"><h4>Mails</h4></li>
        {% for mail in mails %}
            <li class="collection-item"><div>{{ mail.subject }}<a href="{{ path('email_show', {'id': mail.id }) }}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        {% endfor %}
    </ul>
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });

        $('.category-form').change(function(){
            window.location = '/email/' + $(this).val();
        })
    </script>
    <style>
        #form {
            display: flex;
            width: 50%;
            justify-content: space-around;
        }

         #form_save {
             margin-left: 25px;
             margin-top: 25px;
         }
    </style>
{% endblock %}