{% extends 'base.html.twig' %}

{% block title %}Mails  : {{ mount }}{% endblock %}

{% block body %}
    <ul class="collection with-header">
        <li class="collection-header"><h4>Mails</h4><h6>{{ category.name }}</h6></li>
    {% for mail in mails %}
        <li class="collection-item"><div>{{ mail.subject }}<a href="{{ path('email_show', {'id': mail.id }) }}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    {% endfor %}
    </ul>
{% endblock %}
