{% extends 'base.html.twig' %}

{% block title %}Nouvelle Email!{% endblock %}

{% block body %}
    <div class="form">
        <h2>Nouvelle Email</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <style>
        form div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 600px;
        }
    </style>
    <script>

        $( function() {
            var data = [];

            fetch('{{ path('contact_ajax') }}')
            .then(function (response) {
                return response.json();
            })
            .then(function(response){
                response.forEach(function(value){
                    data.push(value);
                })
            });

             $( "#form_recipient" ).autocomplete({
                 source: data
             });
        });
    </script>
{% endblock %}
