{% extends 'base.html.twig' %}

{% block title %}{{ mail.subject }}{% endblock %}

{% block body %}
    <h4>{{ mail.subject }}</h4>
    <p>Destinataire: {{ mail.recipient }}</p>
    <p>{{ mail.message }}</p>
    <p>Envoyer le {{ mail.date|date }}</p>
{% endblock %}